@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto-Regular.ttf);
}

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: roboto;

}

.header{
    width: 100%;
    height: 66px;
    background-color: #F5F5F5;
    border-bottom: 2px solid #dedede;
}

.header-pic{
    width: 913px;
    height: 64px;
    /* border: 1px solid red; */
    margin: 0px auto;
}

.header-pic>ul{
    list-style: none;
    display:flex;
}





.li-1{
    width: 99px;
    height: 64px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 7px 1px #666666;
    padding: 9px 10px 8px;
    margin: 0px 10px;


}

.li-2{
    width: 89px;
    height: 64px;
    padding: 9px 10px 8px 0px;
    border-right: 2px solid #dedede;

}

.li-3{
    width: 103px;
    height: 64px;
    padding: 9px 10px 8px;
    border-right: 2px solid #dedede;


}

.img-li1{
    width: 79px;
    height: 45px;
}



.li-4{
    width: 182px;
    height: 64px;
    padding: 9px 10px 8px 10px;
       /* border: 1px solid red; */
    /* background-color: white; */

}

.li-4>a:hover{
    opacity: 0.5;
}

.img-li2{
    width: 175px;
    height: 50px;
    vertical-align: middle; 
    
}

.navbar{
    width: 100%;
    height: 89px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #dedede;
    margin-top: 3px;

}

.boxes{
    width: 913px;
    height: 89px;
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right:180px;
    display: flex;
    justify-content: center;

}

.box1{
    width: 128px;
    height: 89px;
    background-color: #919191;
    border-bottom-left-radius: 10px;
    border-bottom: 6px solid #919191;
    text-align: center;
    vertical-align: middle;
    /* align-content: center; */
    /* margin: 0px 10px; */
}

.box2{

    width: 128px;
    height: 89px;
    background-color: #FFFFFF;
    border-bottom: 6px solid #E3350D;
    text-align: center;
    vertical-align: middle;

}

.box2:hover{
    background-color: #E3350D;
}
/* .box2>i>a:hover{
    color: #FFFFFF;
} */

.box3{

    width: 128px;
    height: 89px;
    background-color: #FFFFFF;
    border-bottom: 6px solid #EE6B2F;
    text-align: center;
    vertical-align: middle;

}
.box3:hover{
    background-color: #EE6B2F;
}

.box4{

    width: 128px;
    height: 89px;
    background-color: #FFFFFF;
    border-bottom: 6px solid #E6BC2F;
    text-align: center;
    vertical-align: middle;

}
.box4:hover{
    background-color: #E6BC2F;
}


.box5{

    width: 128px;
    height: 89px;
    background-color: #FFFFFF;
    border-bottom: 6px solid #4DAD5B;
    text-align: center;
    vertical-align: middle;

}

.box5:hover{
    background-color: #4DAD5B;
}


.box6{

    width: 128px;
    height: 89px;
    background-color: #FFFFFF;
    border-bottom: 6px solid #30A7AD;
    text-align: center;
    vertical-align: middle;

}

.box6:hover{
    background-color: #30A7AD;
}


.box7{

    width: 128px;
    height: 89px;
    background-color: #FFFFFF;
    border-bottom-right-radius: 5px;
    border-bottom: 6px solid #1B53BA;
    text-align: center;
    vertical-align: middle;

}

.box7:hover{
    background-color: #1B53BA;
}




.icon{
    width: 28px;
    height: 29px;
    color: #FFFFFF;
    margin-top: 15px;
        /* margin: 7px 0px; */

    
}


.box-p{
    font-size: 16px;
    color: #FFFFFF;
    /* text-align: center; */
}

.box-p>a{
    text-decoration: none;
    color: #FFFFFF;
}

.box-p2{
    font-size: 14px;

}

.box-p2>a{
    text-decoration: none;
    color: #464646;

}
.box-p2>a:hover{
    color: #FFFFFF;
}

.icon2{
    width: 28px;
    height: 29px;
    color: #464646;
    margin-top: 15px;
        /* margin: 7px 0px; */

    
}

.icon2:hover{
    color: #FFFFFF;
}


.main{
    width: 100%;
    height: 1800px;
    background-image: url(assets/images/body_bg.png);

}

.container{
    width: 1230px;
    height: 900px;
    background-image:url(assets/images/container_bg.png);
    background-color: #FFFFFF;
    margin: 0px auto;
}

.content{
    width: 890px;
    height: 800px;
    background-color: #FFFFFF;
    border: 1px solid red;
    margin-left: auto;
    margin-right:140px;
    display: flex;
    justify-content: center;
}

.right-sec{
    width: 580px;
    height: 750px;
    margin-top: 20px;

    /* border: 1px solid red; */
}

.left-sec{
    width: 290px;
    height: 750px;
    margin-top: 20px;

    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    /* gap: 130px; */
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
   
}


.card-image{
    width: 578px;
    height: 328px;
    /* background-color:#A4A4A4; */

    /* border: 1px solid red; */
    
}
.card-image>img{
    width: 578px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

.crad-text{
    width: 578px;
    height: 140px;
    /* border: 1px solid red; */
    background-color:#A4A4A4;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    bottom: 4px;



}

.crad-text>h3{
    font-size: 22px;
    color: #212121;
    padding-top: 10px;
    margin:  0px 22px;
    
}

.crad-text>p{
    font-size: 16px;
    color: #212121;
    margin:  10px 22px;

}

.card-sec{
    width: 578px;
    height: 260px;
    /* border: 1px solid red; */
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.card2{
    width: 280px;
    height: 158px;
    /* border: 1px solid red; */
    /* background-color: #B38AEA; */


}
.card2-image>img{
    width: 100%;
    height: 158px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;


}

.card2-text{
    width: 280px;
    height: 96px;
    background-color: #B38AEA;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    bottom: 4px;
   
}

.card2-text>h3{
    font-size: 22px;
    color: #FFFFFF;
    padding-top: 10px;
    margin:  0px 22px;
    
}

/* .left-sec>.card2{
} */

.left-card{
    width: 280px;
    height: 150px;
    /* border: 1px solid red; */
    display: flex;
    margin-bottom: 25px;
}

.leftcard-image{
    width: 113px;
    height: 149px;
    /* border: 1px solid red; */

}

.leftcard-image>img{
    width: 100%;
    height: 149px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.leftcard-text{
    width: 168px;
    height: 149px;
    /* border: 1px solid red; */
    background-color: #FF90C4;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

}

.leftcard-text>h3{
    font-size: 22px;
    color: #FFFFFF;
    padding-top: 10px;
    margin:  0px 22px;

}

.card-text1{
    width: 280px;
    height: 123px;
    background-color: #C7AA79;
}

.card-text2{
    width: 280px;
    height: 115px;
    background-color: #1B53BA;
}

.black-box{
    width: 875px;
    height: 50px;
    /* border: 1px solid red; */
    margin-top: 55px;
    margin-left: 200px;
}

.blackbox{
    width: 252px;
    height: 45px;
    /* border: 1px solid red; */
    margin-top: 4px;
    margin-left: 7px;
    background-color: #232323;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-icon{
    width: 25px;
    height: 25px;
    
    /* border: 1px solid red; */
}

.bl-icon{
    width: 25px;
    height: 25px;
    color: #919191;
    padding: 3px;
}

.black-text{
    width: 180px;
    height:30px ;
    /* border: 1px solid red; */
}

.black-text>h3{
    font-size: 20px;
    color: #919191;
    padding: 3px;
}

.carosuel-boxes{
    width: 1230px;
    height: 386px;
    /* border: 1px solid red; */
    margin: 0px auto;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
}

.car-box1{
    width: 240px;
    height: 380px;
    /* border: 1px solid red; */
    margin-top: 5px;


}

.carbox1-image{
    width: 240px;
    height: 250px;
    /* border: 1px solid red; */
    background-color: #919191;
    background-image: url(assets/images/664.png);
    background-size: cover;
    opacity: 0.3;
}

.carbox1-text{
    width: 240px;
    height: 130px;
    /* border: 1px solid red; */
    background-color: #232323;
    /* border: 1px solid #444444; */
}

.carbox1-text>h3{
    font-size: 22px;
    color:#FFFFFF;
    padding-top:20px ;
    text-align:center;
    /* padding-top: 20px; */
    /* margin:  30px 22px; */
}

.carbox1-image>h3{
    font-size: 68px;
    color:#232323;
    text-align:center;
    padding-top: 20px;
    opacity: 0.5;
}

.carbox2-image{
    background-image: url(assets/images/281.png);
    /* opacity: 0.5; */
}

.carbox3-image{
    background-image: url(assets/images/498.png);
    opacity: 1;
    background-color: #444444;
}

.carbox4-image{
    background-image: url(assets/images/422.png);
}

.carbox5-image{
    background-image: url(assets/images/376.png);
}